name: OTA

# Triggered when new release published
on:
  release:
    types: [published]

# Global environment variables
env:
  TAG: ${{github.ref_name}}
  REPO: ${{github.repository}}
  BIN_PATH: ${{ format('{0}/.pio/build/{1}/firmware.bin', github.workspace, vars.PIO_ENV ) }}
  BIN_BUCKET_PATH: ${{ format('{0}/{1}.bin', github.repository, github.ref_name ) }}

# Run only once, no concurrency
concurrency:
  group: production
  cancel-in-progress: true

# build_upload: Compiles source code & Creates executable & Upload executable to S3 bucket
# publish: Sends to a specific topic an MQTT message containing the version & download url
jobs:
  build_upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run --environment ${{vars.PIO_ENV}}

      - name: Create aws-cli container
        run: docker run --entrypoint /bin/sh -itd --name aws-cli amazon/aws-cli

      - name: Configure access key
        run: docker exec aws-cli aws configure set aws_access_key_id ${{secrets.S3_ACCESS_KEY_ID}}

      - name: Configure secret key
        run: docker exec aws-cli aws configure set aws_secret_access_key ${{secrets.S3_SECRET_ACCESS_KEY}}

      - name: Copy firmware.bin to aws-cli container
        run: docker cp ${{env.BIN_PATH}} aws-cli:/firmware.bin

      - name: Upload firmware.bin to S3 bucket
        run: >-
          docker exec aws-cli aws s3 cp ../firmware.bin ${{format('s3://{0}/{1}', secrets.S3_BUCKET, env.BIN_BUCKET_PATH)}}
          --output json
          --endpoint-url ${{secrets.S3_ENDPOINT_URL}}
          --region ${{secrets.S3_REGION}}

  publish:
    needs: build_upload
    runs-on: ubuntu-latest
